
<div class="form-inline mb-5">
    <label>Valor calórico</label>
    <input type="text" class="form-control-plaintext ml-2" id="plaintext-perfil" value="1200 kCal" readonly />
</div>


<div class="form-inline my-5">
    <label>Café da manhã</label>
    <input type="text" class="form-control-plaintext ml-2"  value="Leite desnatado, café sem açúcar, pão de forma trigo integral, maça com casca" readonly />
</div>

<div class="form-inline my-5">
    <label>Almoço</label>
    <input type="text" class="form-control-plaintext ml-2"  value="Alface americana crua, agrião picado cru, cenoura ralada, tomate com semente cru, azeite de oliva, arroz tipo 1 cozido, feijão carioca cozido, espinafre refogado, peito de frango sem pele grelhado, abacaxi" readonly />
</div>

<div class="form-inline my-5">
    <label>Café da tarde</label>
    <input type="text" class="form-control-plaintext ml-2"  value="banana prata, suco de laranja pera, torrada integral, margarina light" readonly />
</div>

<div class="form-inline my-5">
    <label>Janta</label>
    <input type="text" class="form-control-plaintext ml-2"  value="brócolis cozido picado, batata inglesa, coxa de frango sem pele cozida" readonly />
</div>