<div class="form-inline mb-5">
    <label>Intensidade do treino</label>
    <input type="text" class="form-control-plaintext ml-2" id="plaintext-perfil" value="Moderado" readonly />
</div>

<div class="form-inline my-5">
    <label>Tempo de treino</label>
    <input type="text" class="form-control-plaintext ml-2" id="plaintext-perfil" value="45min no dia, alternando os dias entre Aeróbico e Musculação" readonly />
</div>

<h3 class="mt-5">Exercícios</h3>
<div class="form-inline mb-5">
    <label>Segunda-Feira</label>
    <input type="text" class="form-control-plaintext ml-2"  value="4 séries de 8 repetições de Peito, 3 séries de 8 repetições de Bíceps e 3 séries de 12 repetições de Abdômen" readonly />
</div>

<div class="form-inline my-5">
    <label>Terça-Feira</label>
    <input type="text" class="form-control-plaintext ml-2"  value="25 minutos de esteira, 20min pulando corda" readonly />
</div>

<div class="form-inline my-5">
    <label>Quarta-Feira</label>
    <input type="text" class="form-control-plaintext w-75 ml-2"  value="3 séries de 12 repetições de Ombro e Costas" readonly />
</div>

<div class="form-inline my-5">
    <label>Quinta-Feira</label>
    <input type="text" class="form-control-plaintext ml-2"  value="15 minutos de bicicleta ergométrica, 5min de Burp e 25min de caminhada leve" readonly />
</div>

<div class="form-inline my-5">
    <label>Sexta-Feira</label>
    <input type="text" class="form-control-plaintext ml-2"  value="3 séries de 12 repetições de Tríceps e Perna" readonly />
</div>
